@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap&family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-claret: #b60000;
    --color-gray-text: #757575;
    --color-dark-gray: #3a3a3a;
    --roboto: 'Roboto Condensed', sans-serif;
    --rubik: 'Rubik', sans-serif;
    --kaushan: 'Kaushan Script', cursive;
}

.wrapper {
    overflow-x: hidden;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    background-color: #ff0000;
    box-shadow: 0 1px 5px black;
    user-select: none;
}

.menu-burger {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    width: 17vw;
    height: 17vw;
    background-color: red;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(61, 61, 61);
}

.menu-burger i {
    font-size: 8.5vw;
    color: white;
    line-height: 17vw;
    text-shadow: 0 0 3px black;
}

#logo {
    display: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--kaushan);
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

#logo span {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px black;
}

.logo-top {
    font-size: 12vw;
}

.logo-bottom {
    font-size: 4.8vw;
    transform: translate(0, -50%);
}

#logo span i {
    font-size: 8vw;
    color: white;
    padding: 2px;
    transform: rotate(35deg) translate(0, -3px);
}

nav {
    display: none;
}

header {
    width: 100%;
    margin-top: 150px;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('img/header-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 15px rgb(110, 110, 110);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

.welcome button {
    width: 100%;
    min-height: 85px;
    background-color: white;
    color: black;
    text-shadow: 0 0 1px black;
    box-shadow: 0 0 10px 15px white;
    font-size: 11vw;
    font-style: italic;
    font-family: var(--kaushan);
    font-weight: bold;
    border: none;
}

.welcome button span {
    display: none;
}

.welcome p {
    width: 70%;
    margin-top: 30px;
    font-size: clamp(15px, 9vw, 45px);
    text-shadow: 1px 1px 3px black;
    margin: 20px auto;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: white;
}

#contact {
    display: none;
}

/* COURSES */

#courses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    margin: 5vh auto;
}

.course {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.course-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 2px 12px gray;
}

.course-image img {
    width: 100%;
    height: 100%;
}

.course-description {
    width: 100%;
    box-shadow: 0 2px 12px gray;
}

.course-description h2 {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    font-size: clamp(20px, 6vw, 6vw);
    font-weight: bold;
    letter-spacing: 1px;
    font-family: var(--roboto);
    text-transform: uppercase;
    text-align: center;
    color: var(--color-gray-text);
}

.line {
    width: 50%;
    margin: 20px auto;
    border-top: 5px dashed var(--color-claret);
}

.course-description .description-p {
    width: 90%;
    margin: 20px auto 0 auto;
    font-size: clamp(17px, 5vw, 5vw);
    letter-spacing: 1px;
    font-family: var(--roboto);
    text-align: justify;
    color: var(--color-gray-text);
}

.course-description .info i {
    font-size: clamp(30px, 8vw, 34px);
    color: var(--color-claret);
}

.course-description .info {
    margin: 20px 0 30px 0;
    width: 100%;
    text-align: center;
}

.course-description .info span {
    display: block;
    margin: 10px;
    font-family: var(--roboto);
    font-size: clamp(16px, 4vw, 18px);
    text-transform: uppercase;
}

.course-description .info button {
    font-size: 5.5vw;
    padding: 2px 30px;
    margin: 15px 0;
    font-family: var(--roboto);
    text-transform: uppercase;
    background-color: var(--color-claret);
    color: white;
    border: none;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px black;
    box-shadow: 0 0 5px 10px var(--color-claret);
}

/* ABOUT ME */

#about-me {
    width: 90%;
    margin: 0 auto;
}

#about-me .my-name {
    font-size: 9vw;
    font-weight: bold;
    font-family: var(--kaushan);
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 15px 0;
}

.more-about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.more-about-me button {
    margin: 45px 0;
    padding: 5px 25px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    box-shadow: 0 0 5px 10px black;
    text-shadow: 0 0 2px white;
    font-size: clamp(20px, 6vw, 6vw);
    font-family: var(--roboto);
    text-transform: uppercase;
    border: none;
}

#about-me img {
    width: 100%;
    height: auto;    }

.more-about-me p {
    font-size: clamp(17px, 5vw, 20px);
    font-family: var(--rubik);
    margin: 15px 0;
    text-align: justify;
}

/* RECIPES */

.recipes-header {
    width: 100%;
    background-color: black;
    font-family: var(--rubik);
    font-size: clamp(25px, 6.5vw, 28px);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    color: white;
}

.recipes-header p {
    width: 90%;
    margin: 0 auto;
}

#recipes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 5vh auto;
}

.recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px auto;
    width: 95%;
    background-color: white;
    box-shadow: -2px -2px 10px gray;
}

.recipe img {
    width: 100%;
    height: auto;
}

div.title {
    width: 90%;
}

.recipe h2 {
    display: block;
    width: 90%;
    font-size: clamp(20px, 6vw, 6vw);
    font-family: var(--rubik);
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 10px 0;
    color: var(--color-dark-gray);
}

section.details {
    display: flex;
    flex-direction: column;
    width: 90%;
}

div.details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    font-size: 4vw;
    margin: 0 auto;
    font-family: var(--roboto);
    color: var(--color-dark-gray);
}

.details div {
    flex-basis: 35%;
    text-align: center;
}

.details span {
    font-size: clamp(15px, 4.5vw, 16px);
}

.time {
    font-size: clamp(19px, 6vw, 26px);
}

.recipe-desc {
    width: 90%;
    font-family: var(--roboto);
    font-size: clamp(17px, 4.5vw, 20px);
    margin: 25px 0;
}

.recipe-desc p {
    text-align: justify;
}

.recipe button {
    font-size: clamp(17px, 5vw, 20px);
    font-family: var(--roboto);
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
    padding: 10px 30px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85px;
    font-family: var(--roboto);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: black;
    color: white;
}