@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap&family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-claret: #b60000;
    --color-gray-text: #757575;
    --color-dark-gray: #3a3a3a;
    --roboto: 'Roboto Condensed', sans-serif;
    --rubik: 'Rubik', sans-serif;
    --kaushan: 'Kaushan Script', cursive;
}

.wrapper {
    overflow-x: hidden;
}

/* MOBILE FIRST - ORIENTATION: PORTRAIT */

/* NAVBAR */ 

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    background-color: #ff0000;
    box-shadow: 0 1px 5px black;
    user-select: none;
}

.burger__icon-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    width: clamp(55px, 16vw, 60px);
    height: clamp(55px, 16vw, 60px);
    background-color: red;
    outline: 3.5px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 10px 2px rgb(0, 0, 0);
}

.burger__icon {
    font-size: clamp(27.5px, 8vw, 30px);
    color: white;
    text-shadow: 0 0 3px black;
    transform: translate(0, 55%);
}

.logo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.logo__span {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: var(--kaushan);
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px black;
}

.logo__logo-top {
    font-size: clamp(14px, 12vw, 60px);
}

.logo__logo-bottom {
    font-size: 4.8vw;
    transform: translate(0, -50%);
}

.logo__fork-icon {
    font-size: clamp(14px, 8vw, 40px);
    color: white;
    padding: 2px;
    transform: rotate(35deg) translate(0, -3px);
}

nav {
    display: none;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('img/header-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 15px rgb(110, 110, 110);
    width: 100%;
    margin-top: 150px;
    height: calc(100vh - 150px);
}

.header__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

.header__panel-button {
    width: 100%;
    min-height: 85px;
    background-color: white;
    color: black;
    text-shadow: 0 0 1px black;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 15px white;
    font-size: clamp(20px, 11vw, 45px);
    font-style: italic;
    font-family: var(--kaushan);
    font-weight: bold;
    border: none;
}

.header__panel-exc-mark {
    display: none;
}

.header__panel-text {
    width: 70%;
    font-size: clamp(15px, 9vw, 35px);
    text-shadow: 1px 1px 5px black;
    margin: 20px auto 0 auto;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: white;
}

#contact {
    display: none;
}

/* COURSES */

.courses {
    width: 95%;
    margin: 5vh auto;
}

.course {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.course__image-container {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 2px 12px gray;
}

.course__image {
    width: 100%;
    height: 100%;
}

.course__description {
    width: 100%;
    box-shadow: 0 2px 12px gray;
}

.course__title {
    display: block;
    width: 95%;
    margin: 30px auto 0 auto;
    font-size: clamp(20px, 6vw, 25px);
    font-weight: bold;
    letter-spacing: 1px;
    font-family: var(--roboto);
    text-transform: uppercase;
    text-align: center;
    color: var(--color-gray-text);
}

.course__line {
    width: 50%;
    margin: 20px auto;
    border-top: 5px dashed var(--color-claret);
}

.course__text {
    width: 90%;
    margin: 20px auto 0 auto;
    font-size: clamp(16px, 5vw, 18px);
    letter-spacing: 1px;
    font-family: var(--roboto);
    text-align: justify;
    color: var(--color-gray-text);
}

.course__info {
    margin: 20px 0 30px 0;
    width: 100%;
    text-align: center;
}

.course__city-and-price {
    display: block;
    margin: 10px;
    font-family: var(--roboto);
    font-size: clamp(16px, 4vw, 18px);
    text-transform: uppercase;
}

.course__info-icon {
    font-size: clamp(30px, 8vw, 34px);
    color: var(--color-claret);
}

.course__button {
    font-size: clamp(14px, 5.5vw, 23px);
    padding: 2px 30px;
    margin: 15px 0;
    font-family: var(--roboto);
    text-transform: uppercase;
    background-color: var(--color-claret);
    color: white;
    border: none;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px black;
    box-shadow: 0 0 5px 10px var(--color-claret);
}

/* ABOUT ME */

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.about-me__my-name {
    font-size: clamp(20px, 9vw, 30px);
    font-weight: bold;
    font-family: var(--kaushan);
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

.about-me__image-chudowicz {
    width: 80%;
    height: auto;    
}

.about-me__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me__text {
    font-size: clamp(16px, 5vw, 18px);
    font-family: var(--rubik);
    margin: 0 0 20px 0;
    text-align: justify;
}

.about-me__blog-button {
    margin: 45px 0;
    padding: 5px 25px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    box-shadow: 0 0 5px 10px black;
    text-shadow: 0 0 2px white;
    font-size: clamp(20px, 6vw, 22px);
    font-family: var(--roboto);
    text-transform: uppercase;
    border: none;
}

/* RECIPES */

.recipes-from-me__header-container {
    width: 100%;
    background-color: black;
    font-family: var(--rubik);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    color: white;
}

.recipes-from-me__header-text {
    font-size: clamp(22px, 6vw, 25px);
    width: 90%;
    margin: 0 auto;
}

.recipes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 5vh auto;
}

.recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px auto;
    width: 95%;
    background-color: white;
    box-shadow: -2px -2px 10px gray;
}

.recipe__image {
    width: 100%;
}

.recipe__title {
    display: block;
    width: 90%;
    font-size: clamp(20px, 6vw, 25px);
    font-family: var(--rubik);
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
    color: var(--color-dark-gray);
}

.recipe__details {
    margin: 0 auto;
    width: 90%;
}

.recipe__details-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    font-size: 4vw;
    font-family: var(--roboto);
    color: var(--color-dark-gray);
}

.recipe__detail {
    flex-basis: 35%;
    text-align: center;
}

.recipe__details-span {
    font-size: clamp(15px, 4.5vw, 16px);
}

.recipe__details-clock-icon {
    font-size: clamp(19px, 6vw, 26px);
}

.recipe__text {
    width: 90%;
    margin: 25px auto;
    font-family: var(--roboto);
    font-size: clamp(16px, 4.5vw, 18px);
    text-align: justify;
}

.recipe__load-more-button {
    display: block;
    font-size: clamp(16px, 5vw, 18px);
    font-family: var(--roboto);
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
    padding: 10px 30px;
    margin: 0 auto 20px auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85px;
    font-family: var(--roboto);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: black;
    color: white;
}

/* MOBILE VERSION - ORIENTATION: LANDSCAPE */

@media (max-height: 425px) and (orientation: landscape) {
    
    /* NAVBAR & BURGER-MENU */
    
    .navbar {
        height: 90px;
    }

    .burger__flex-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-self: center;
        order: 1;
    }

    .burger__icon-container {
        position: static;
        transform: translate(0, 0);
        width: clamp(40px, 7vw, 45px);
        height: clamp(40px, 7vw, 45px);
        box-shadow: 0 0 15px 2px white;
        margin: 0 auto;
    }

    .burger__icon {
        font-size: clamp(20px, 3.5vw, 22.5px);
        text-shadow: 0 0 2px white;
    }

    .logo {
        flex-grow: 4;
    }

    .logo__span {
        width: 60%;
        margin: 0 0;
    }

    .logo__logo-top {
        font-size: clamp(30px, 5.5vw, 40px);
    }

    .logo__logo-bottom {
        font-size: 2vw;
    }

    .logo__fork-icon {
        font-size: clamp(21.5px, 3.2vw, 23px);
    }

    /* HEADER */

    header {
        background-image: url('img/header-mobile-landscape.jpg');
        margin-top: 90px;
        height: calc(100vh - 90px);
    }

    .header__panel {
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        margin-top: 5%;
    }

    .header__panel-button {
        font-size: 5.5vw;
        min-height: 0;
    }

    .header__panel-text {
        font-size: clamp(21px, 4vw, 25px);
        width: 100%;
    }

    /* COURSES */

    .course {
        flex-direction: row;
        height: auto;
        margin: 3vh 0;
        outline: 1px solid rgb(170, 170, 170);
    }

    .course__image-container {
        width: 50%;
        height: auto;
        box-shadow: 0 0 0;
    }

    .course:nth-of-type(even) .course__image-container {
        order: 1;
    }

    .course__description {
        position: relative;
        width: 50%;
        box-shadow: 0 0 0;
    }

    .course__title {
        margin: 20px auto 0 auto;
        font-size: clamp(15px, 4vw, 20px);
    }

    .course__line {
        display: none;
    }

    .course__text {
        width: 80%;
        margin: 2% auto;
        font-size: clamp(14px, 2.3vw, 18px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
    }

    .course__info {
        position: absolute;
        bottom: 3%;
        margin: 0;
    }

    .course__info-icon {
        display: none;
        font-size: clamp(25px, 7vw, 29px);
    }

    .course__city-and-price {
        font-size: clamp(9px, 2vw, 14px);
        margin: 5px;
    }

    .course__button {
        font-size: clamp(14px, 3vw, 20px);
    }

    /* ABOUT ME */

    .about-me {
        position: relative;
        /* overflow: visible; */
    }

    .about-me__image-chudowicz {
        position: absolute;
        bottom: -5%;
        right: -10%;
        width: 42%;
        transform:rotate(-35deg);
        z-index: -1;
    }

    .about-me__blog-button {
        margin: 15% 0 15% 0;
    }

    /* RECIPES */

    .recipes {
        flex-direction: row;
        justify-content: center;
    }

    .recipe {
        flex-wrap: nowrap;
        margin: 1.5%;
        height: 32vw;
    }

    .recipe:nth-of-type(even) .recipe__image {
        order: 1;
    }

    .recipe__image {
        padding: 1%;
        width: 50%;
        height: 100%;
    }

    .recipe__description {
        position: relative;
        width: 50%;
    }

    .recipe__title {
        font-size: clamp(12px, 2.7vw, 18px);
        margin: 5% auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1; 
        -webkit-box-orient: vertical;
    }

    .recipe__details {
        width: 90%;
        margin: 5% auto 0 auto;
    }

    .recipe__details-container {
        font-size: 1.3vw;
    }

    .recipe__details-span {
        font-size: 1.8vw;
    }

    .recipe__details-clock-icon {
        font-size: 1.5vw;
    }

    .recipe__text {
        width: 80%;
        font-size: 2.3vw;
        margin: 5% auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .recipe__load-more-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: clamp(12px, 2.5vw, 18px);
        letter-spacing: .5px;
    }
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1023px) and (min-height: 426px) {
    
    /* NAVBAR & NAVIGATION */
    
    .navbar {
        flex-direction: column;
        box-shadow: 0 0 0;
        height: 200px;
    }
    
    .burger__flex-container {
        display: none;
    }

    .logo {
        flex-grow: 1;
        margin-top: 2%;
    }

    .logo__logo-top {
        font-size: 9vw;
    }

    .logo__logo-bottom {
        font-size: 2vw;
    }

    .logo__fork-icon {
        font-size: 5vw;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        box-shadow: 0 0 2px 2px white;
        height: 50px;
    }

    .navigation__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navigation__list-item {
        display: block;
        padding: 0 20px;
        text-align: center;
    }

    .navigation__link {
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: clamp(16px, 1.8vw, 18px);
        line-height: 50px;
        text-transform: uppercase;
        text-shadow: .4px .4px .4px black;
        letter-spacing: 2px;
        color: black;
        cursor: pointer;
    }

    .navigation__calendar-icon {
        font-size: 2.5vw;
        padding: 0 5px;
    }

    /* HEADER */

    header {
        background-image: url('img/header-tablet.jpg');
        margin-top: 200px;
        height: calc(100vh - 200px);
    }

    .header__panel {
        width: 50vw;
   }

    .header__panel-button {
        font-size: clamp(20px, 8vw, 45px);
        padding: 10px 0;
    }

    .header__panel-text {
        width: 100%;
        margin-top: 30px;
    }

    /* COURSES */

    .courses {
        margin: 3vw auto;
    }

    .course {
        flex-direction: row;
        flex-basis: 48%;
        margin: 2vw 0;
        outline: 1px solid rgb(170, 170, 170);
    }

    .course:nth-of-type(even) .course__image-container {
        order: 1;
    }

    .course__image-container {
        box-shadow: 0 0 0;
    }

    .course__description {
        position: relative;
        box-shadow: 0 0 0;
    }

    .course__title {
        margin: 7% auto 0 auto;
        font-size: 2.5vw;
    }

    .course__line {
        /* display: none; */
        margin: 1.5vw auto;
        border-width: .5vw;
    }

    .course__text {
        width: 80%;
        margin: 2% auto 0 auto;
        font-size: 2vw;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
    }

    .course__info {
        position: absolute;
        bottom: 5%;
        margin: 0;
    }

    .course__city-and-price {
        font-size: 2vw;
        margin: 1vw;
    }

    .course__info-icon {
        display: none;
        font-size: 2.5vw;
    }

    .course__button {
        font-size: 2.5vw;
    }

    /* ABOUT ME */
    
    .about-me__my-name {
        font-size: clamp(30px, 4vw, 35px);
    }

    .about-me__image-chudowicz {
        width: 35%;
        height: auto;
    }

    .about-me__blog-button {
        font-size: clamp(18px, 4vw, 25px);
    }

    /* RECIPES */

    .recipes-from-me {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .recipes-from-me__header-text {
        font-size: clamp(20px, 4vw, 35px);
    }

    .recipes {
        width: 90%;
        flex-direction: row;
        justify-content: flex-start;
    }

    .recipe {
        width: 47%;
        justify-content: space-between;
        margin: 1.5%;
    }

    .recipe__image {
        height: 28vw;
        padding: 2%;
    }

    .recipe__description {
        width: 100%;
    }

    .recipe__title {
        width: 80%;
        font-size: clamp(19px, 2.5vw, 21px);
        margin: 5% auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1; 
        -webkit-box-orient: vertical;
    }

    .recipe__details {
        /* width: 60%; */
        margin: 2.5% 5%;
    }

    .recipe__details-container {
        font-size: 1.3vw;
    }

    .recipe__details-span {
        font-size: 1.8vw;
    }

    .recipe__details-clock-icon {
        font-size: 1.5vw;
    }

    .recipe__text {
        width: 80%;
        margin: 5% auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .recipe__load-more-button {
        font-size: clamp(18px, 2.4vw, 21px);
        margin: 7% auto;
        letter-spacing: .5px;
    }
}

/* LAPTOP VERSION */

@media (min-width: 1024px) {


    .navbar {
        /* display: none; */
        height: 10vh;
        flex-direction: row;
        background-color: red;
    }

    .burger__icon-container {
        display: none;
    }

    .logo__span {
        color: white;
        /* text-shadow: 0 0 0; */
        letter-spacing: 1px;
    }

    .logo__logo-top {
        font-size: 2.8vw;
    }

    .logo__logo-bottom {
        font-size: 1vw;
        letter-spacing: 1px;
    }

    .logo__fork-icon {
        font-size: 1.65vw;
        color: white;
        /* text-shadow: 0 0 1px b; */
        /* padding: 1px; */
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 5vw;
}

    .navigation__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navigation__list-item {
        display: block;
        padding: 0 1vw;
        text-align: center;
    }

    .navigation__link {
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: clamp(12.5px, 1.2vw, 13.5px);
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0 0 2px black;
        color: white;
        cursor: pointer;
    }

    .navigation__calendar-icon {
        font-size: 1.7vw;
        padding: 0 5px;
    }

    /* HEADER */

    header {
        position: relative;
        background-image: url('img/header4.jpg');
        margin-top: 10vh;
        height: 90vh;
    }

    .header__panel {
        /* display: none; */
        position: absolute;
        right: 8%;
        bottom: 50%;
        transform: translate(0, 40%);
        width: 40%;
        /* background-color: rgba(0, 0, 0, 0.649); */
    }

    .header__panel-button {
        width: auto;
        margin: 0 auto;
        font-size: clamp(20px, 3.5vw, 30px);
        text-shadow: 1px 1px 2px black;
        /* box-shadow: 0 0 5px 10px white; */
        padding: 10px 50px;
        min-height: 0;
        background-color: white;
        color: black;
        /* border: 4px solid white; */
    }

    .header__panel-text {
        /* width: 90%; */
        font-size: clamp(20px, 2.7vw, 26px);
        /* margin-top: 25px; */
    }

    /* COURSES */

    .course {
        flex-direction: row;
        height: auto;
        margin: 3vh 0;
        outline: 1px solid rgb(170, 170, 170);
    }

    .course__image-container {
        width: 50%;
        height: auto;
        box-shadow: 0 0 0;
    }

    .course:nth-of-type(even) .course__image-container {
        order: 1;
    }

    .course__description {
        position: relative;
        width: 50%;
        box-shadow: 0 0 0;
    }

    .course__title {
        margin: 20px auto 0 auto;
        font-size: clamp(15px, 4vw, 20px);
    }

    .course__line {
        /* display: none; */
        margin: 15px auto;
    }

    .course__text {
        width: 80%;
        margin: 2% auto;
        font-size: clamp(14px, 2.3vw, 18px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; 
        line-clamp: 5; 
        -webkit-box-orient: vertical;
        /* number of lines to show */
    }

    .course__info {
        position: absolute;
        bottom: 3%;
        margin: 0;
    }

    .course__info-icon {
        /* display: none; */
        font-size: clamp(25px, 7vw, 29px);
    }

    .course__city-and-price {
        font-size: clamp(9px, 2vw, 14px);
        margin: 5px;
    }

    .course__button {
        font-size: clamp(14px, 3vw, 20px);
    }

    /* ABOUT ME */

    .about-me {
        position: relative;
        /* overflow: visible; */
    }

    .about-me__my-name {
        font-size: 3.5vw;
    }

    .about-me__image-chudowicz {
        position: absolute;
        bottom: -5%;
        right: -10%;
        width: 42%;
        transform:rotate(-35deg);
        z-index: -1;
    }

    .about-me__blog-button {
        margin: 20% 0 20% 0;
        font-size: 2.5vw;
    }

    /* RECIPES */

    .recipes-from-me {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .recipes-from-me__header-text {
        font-size: clamp(20px, 4vw, 26px);
    }

    .recipes {
        width: 90%;
        flex-direction: row;
        justify-content: center;
    }

    .recipe {
        width: 30%;
        justify-content: space-between;
        margin: 1.5%;
    }

    .recipe__image {
        height: 18vw;
        padding: 2%;
    }

    .recipe__description {
        width: 100%;
    }

    .recipe__title {
        width: 80%;
        font-size: clamp(14px, 2.5vw, 16px);
        margin: 5% auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1; 
        -webkit-box-orient: vertical;
    }

    .recipe__details {
        /* width: 60%; */
        margin: 2.5% 5%;
    }

    .recipe__details-container {
        font-size: .8vw;
    }

    .recipe__details-span {
        font-size: 1vw;
    }

    .recipe__details-clock-icon {
        font-size: 1.5vw;
    }

    .recipe__text {
        font-size: 1.5vw;
        width: 80%;
        margin: 5% auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .recipe__load-more-button {
        font-size: clamp(14px, 1.8vw, 15px);
        padding: 8px 15px;
        margin: 7% auto;
        letter-spacing: .5px;
    }
}

